@{
    ViewBag.Title = "Error";
    Layout = null;
}

<br /><br />




<div style="border: 1px solid gray; width:500px; margin:0 auto; font-family: Arial; padding: 9px; font-size: 12px;">    
    <h1>Sorry, An Error Has Occurred</h1>

    <p>An error has occurred during the current request.</p>
    <p>You can either:
        <ul>
            <li><a href="JavaScript:window.history.back();">Go back</a> and try again.</li>
            <li>Contact Support</li>
            <li>Return to the <a href="/">Home Page</a></li>
        </ul>
    
    </p>
</div>